body {
    background-image: url("bg.png");
    background-repeat: repeat;
}

#wrapper {
    margin: auto;
    text-align: center;
    position: relative;
    top: 100px;
    width: 500px; 
    height: 400px;
}

#wrapper h1 {
    position: relative;
    top: -350px;
    right: 150px;
    color: white;
}

#wrapper form {
    color: white;
    text-align: left;
    position: relative;
    top: -350px;
    left: 30px;
}

