body {
    background-image: url("bg.png");
    background-repeat: repeat;
}

#wrapper {
    margin:auto;
    text-align: center;
    position: relative;
    top: 100px;
    width: 500px;
}

#wrapper iframe {
    
    position: relative;
    left: 21px;
    top: -350px;

}

#wrapper .schleife {
    position: relative;
    top: -450px;
    left: 230px;
    z-index: 1;
}
